

.topnav {
  overflow: hidden;
  background-color: #BDC0BF;
  text-align: center;
  font-family: "Verdana", monospace;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

.liveTyping {
  font-weight: 300;
  margin: 0.4em 0;
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 30px;

}


#intro {
  text-align: center;
}

.contact-div {
  text-align: center;
}

.ratp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#github{
  text-align: center;
}

#gitblabla{
  text-align: justify;
}


#competence{
  text-align: center;
}

#passion{
  text-align: center;
}

.learning{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profil {
  text-align: center;
}
